{% extends 'base.html.twig' %}

{% block title %}
    Mein Fantasya-Profil
{% endblock %}

{% block header %}
    Mein Fantasya-Profil
{% endblock %}

{% block content %}
    {{ include('forms/profile.html.twig') }}

    {% if error %}
        <p class="text-danger"><strong>{{ error }}</strong></p>
    {% endif %}
    {% if success %}
        <p><strong>Änderung gespeichert.</strong></p>
    {% endif %}

    {% for game in games %}
        <h2>Parteien auf Welt {{ game.name }}</h2>

        {% if parties[game.id]|length or newbies[game.id]|length %}
            {% for party in parties[game.id] %}
                <p><strong>{{ party.name }} [{{ party.id }}]</strong></p>

                <p>{{ party.race }}</p>

                {% if party.description %}
                    <p>{{ party.description }}</p>
                {% endif %}
            {% endfor %}

            {% for newbie in newbies[game.id] %}
                <p>
                    <strong>{{ newbie.name }} [neu angemeldet]</strong>
                    <a href="{{ path('game_revoke', {'name': newbie.name}) }}">Anmeldung stornieren</a>
                </p>

                <p>
                    {{ newbie.race }}
                    (Holz: {{ newbie.wood }} &middot; Stein: {{ newbie.stone }} &middot; Eisen: {{ newbie.iron }})
                </p>

                <p>{{ newbie.description }}</p>
            {% endfor %}
        {% else %}
            <p><em>Keine Parteien angemeldet.</em></p>
        {% endif %}
    {% endfor %}
{% endblock %}
