{% extends 'base.html.twig' %}

{% block title %}
    Mein Fantasya-Profil
{% endblock %}

{% block header %}
    Mein Fantasya-Profil
{% endblock %}

{% block content %}
    <div class="mb-4">
        {% if error.code > 0 and error.code < 40 %}
            <h2>
                Zugangsdaten
                <button class="btn dropdown-toggle" data-toggle="collapse" data-target="#profile-form" aria-expanded="true" aria-controls="profile-form"></button>
            </h2>
            <div id="profile-form" class="collapse show">
                {{ include('forms/profile.html.twig') }}
            </div>
            <p class="text-danger"><strong>{{ error.text }}</strong></p>
        {% else %}
            <h2>
                Zugangsdaten
                <button class="btn dropdown-toggle collapsed" data-toggle="collapse" data-target="#profile-form" aria-expanded="false" aria-controls="profile-form"></button>
            </h2>
            <div id="profile-form" class="collapse">
                {{ include('forms/profile.html.twig') }}
            </div>
        {% endif %}
    </div>

    <div class="mb-4">
        {% if error.code >= 40 %}
            <h2>
                Einstellungen
                <button class="btn dropdown-toggle" data-toggle="collapse" data-target="#settings-form" aria-expanded="false" aria-controls="settings-form"></button>
            </h2>
            <div id="settings-form" class="collapse show">
                {{ include('forms/settings.html.twig', {'flags': flags}) }}
            </div>
            <p class="text-danger"><strong>{{ error.text }}</strong></p>
        {% else %}
            <h2>
                Einstellungen
                <button class="btn dropdown-toggle collapsed" data-toggle="collapse" data-target="#settings-form" aria-expanded="false" aria-controls="settings-form"></button>
            </h2>
            <div id="settings-form" class="collapse">
                {{ include('forms/settings.html.twig') }}
            </div>
        {% endif %}
    </div>

    {% if success %}
        <p><strong>Änderung gespeichert.</strong></p>
    {% endif %}

    {% for game in games %}
        <h2>Parteien auf Welt {{ game.name }}</h2>

        {% if parties[game.id]|length or newbies[game.id]|length %}
            {% for party in parties[game.id] %}
                <p><strong>{{ party.name }} [{{ party.id }}]</strong></p>

                <p>{{ party.race }}</p>

                {% if party.description %}
                    <p>{{ party.description }}</p>
                {% endif %}
            {% endfor %}

            {% for newbie in newbies[game.id] %}
                <p>
                    <strong>{{ newbie.name }} [neu angemeldet]</strong>
                    <a href="{{ path('game_revoke', {'game': game.id, 'name': newbie.name}) }}">Anmeldung stornieren</a>
                </p>

                <p>
                {{ newbie.race }}
                    {% if game.engine == 'fantasya' %}
                            (Holz: {{ newbie.wood }} &middot; Stein: {{ newbie.stone }} &middot; Eisen: {{ newbie.iron }})
                    {% endif %}
                </p>

                <p>{{ newbie.description }}</p>
            {% endfor %}
        {% else %}
            <p><em>Keine Parteien angemeldet.</em></p>
        {% endif %}
    {% endfor %}
{% endblock %}
