{% extends 'base.html.twig' %}

{% block title %}
    Die Fantasya-Welten
{% endblock %}

{% block robots %}{{ robots }}{% endblock %}

{% block description %}
    Wie groß ist Fantasya? Was passiert in Lemuria? Mache Dir hier ein Bild von der Größe der Spielwelten und dem
    aktuellen Geschehen.
{% endblock %}

{% block header %}
    Die Welten
{% endblock %}

{% block content %}
    <h2>{{ game.name }}</h2>

    <p>{{ game.description|raw }}</p>

    <p>
        <strong>Auswertung: {{ game.start }}</strong>
    </p>

    <p>
        <strong>Version: </strong>{{ version }}<br>
        <strong>Letzter Zug: </strong>Runde {{ turn.round|format_number(locale='de') }} vom {{ turn.start }}<br>
        <strong>Nächster Zug: </strong>Runde {{ (turn.round + 1)|format_number(locale='de') }} am {{ turn.next }}
    </p>

    {% if statistics.newbiesCount > 0 %}
        <h3>Neue Parteien</h3>

        {% if statistics.newbiesCount == 1 %}
            <p>Im nächsten Zug startet eine neue Partei.</p>
        {% else %}
            <p>Im nächsten Zug starten {{ statistics.newbiesCount|format_number(locale='de') }} neue Parteien.</p>
        {% endif %}

        <dl>
            {% for party in statistics.newbies %}
                <dt>{{ party.name }}</dt>
                <dd>{{ party.description }}</dd>
            {% endfor %}
        </dl>
    {% endif %}

    <h3>Regionen</h3>

    <p>Es gibt {{ statistics.landscape.world|format_number(locale='de') }} Regionen auf dieser Spielwelt und {{ statistics.landscape.underworld|format_number(locale='de') }} Regionen in der Unterwelt.</p>

    <div class="table-like row">
        {% for region in statistics.world %}
            <div class="col-3 col-sm-2">
                <span class="th">{{ region.typ }}</span>
                <span class="td">{{ region.count|format_number(locale='de') }}</span>
            </div>
        {% endfor %}
    </div>

    <div class="table-like row">
        {% for region in statistics.underworld %}
            <div class="col-3 col-sm-2">
                <span class="th">{{ region.typ }}</span>
                <span class="td">{{ region.count|format_number(locale='de') }}</span>
            </div>
        {% endfor %}
    </div>

    <h3>Bevölkerung</h3>

    <p>Es gibt insgesamt {{ statistics.population.units|format_number(locale='de') }} Einheiten mit {{ statistics.population.persons|format_number(locale='de') }} Individuen (Spieler und Monster).</p>

    <div class="table-like row">
        {% for player in statistics.races %}
            <div class="col-3 col-sm-2">
                <span class="th">{{ player.race }}</span>
                <span class="td">{{ player.units|format_number(locale='de') }}/{{ player.persons|format_number(locale='de') }}</span>
            </div>
        {% endfor %}
    </div>

    <div class="table-like row">
        {% for monster in statistics.monsters %}
            <div class="col-3 col-sm-2">
                <span class="th">{{ monster.race }}</span>
                <span class="td">{{ monster.units|format_number(locale='de') }}/{{ monster.persons|format_number(locale='de') }}</span>
            </div>
        {% endfor %}
    </div>

    <h3>Parteien</h3>

    <p>Diese Spielwelt wird von {{ statistics.partiesCount|format_number(locale='de') }} Parteien bevölkert.</p>

    <div class="table-like row">
        {% for player in statistics.partyRaces %}
            <div class="col-3 col-sm-2">
                <span class="th">{{ player.race }}</span>
                <span class="td">{{ player.count|format_number(locale='de') }}</span>
            </div>
        {% endfor %}
    </div>

    <dl>
        {% for party in statistics.parties %}
            <dt>{{ party.name }}</dt>
            <dd>{{ party.description }}</dd>
        {% endfor %}
    </dl>
{% endblock %}
