<form method="post" action="{{ path('user_login') }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="form-group">
        <label for="username{{ suffix }}" class="visually-hidden-focusable">Benutzername</label>
        <input type="text" name="_username" id="username{{ suffix }}" class="form-control" placeholder="Benutzername" required>
    </div>
    <div class="form-group">
        <label for="password{{ suffix }}" class="visually-hidden-focusable">Passwort</label>
        <input type="password" name="_password" id="password{{ suffix }}" class="form-control" placeholder="Passwort" required>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" id="remember-me{{ suffix }}" name="_remember_me" class="form-check-input">
        <label for="remember-me{{ suffix }}" class="form-check-label">Eingeloggt bleiben</label>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Anmelden</button>
</form>
