<form method="post" action="{{ path('profile_settings') }}">
    <div class="row">
        <div class="col-12">
            <div class="form-group form-check">
                <input type="checkbox" id="flag-with-attachment" name="withAttachment"
                       class="form-check-input"{{ flags.withAttachment }}>
                <label for="flag-with-attachment" class="form-check-label">
                    Auswertung als E-Mail-Anhang
                    <span title="Deaktiviere diese Option, falls die E-Mails wegen der ZIP-Datei im Anhang von Deinem Provider zurückgewiesen werden.">🛈</span>
                </label>
            </div>
        </div>
        <div class="col-12">
            {% for value, format in reportOptions %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="report-{{ value }}" name="report-{{ value }}" value="{{ value }}" {{ report[value] ? 'checked' : '' }}>
                    <label class="form-check-label" for="report-{{ value }}">{{ format }}</label>
                </div>
            {% endfor %}
        </div>
        <div class="col-auto">
            <button type="submit" name="submitSettings" class="btn btn-primary btn-block">Einstellungen übernehmen
            </button>
        </div>
    </div>
</form>
