<ul class="nav flex-column">
    <li class="nav-item">
        <a href="{{ path('news') }}" class="nav-link">Neuigkeiten</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('about-fantasya') }}" class="nav-link">Über Fantasya</a></li>
    <li class="nav-item">
        <a href="{{ path('myth') }}" class="nav-link">Gerüchte</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('donate') }}" class="nav-link">Spenden</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('contact') }}" class="nav-link">Kontakt</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('privacy') }}" class="nav-link">Datenschutz</a>
    </li>
</ul>
