{% extends 'base.html.twig' %}

{% block title %}
    Neuigkeiten zum Fantasy-Rollenspiel Fantasya
{% endblock %}

{% block description %}
    Die Neuentwicklung Fantasya 3 ist seit dem 6. August 2022 das neue Hauptspiel. Die Spielwelt heißt „Lemuria”.
    Regelmäßig werden neue Features veröffentlicht.
{% endblock %}

{% block header %}
    Neuigkeiten
{% endblock %}

{% block content %}
    <p>
        Besucht regelmäßig unser Forum, die <a href="//forum.fantasya-pbem.de">Taverne</a>, oder folgt uns auf
        <a class="inline image" href="{{ mastodon_url }}" target="fantasya_mastodon">
            <img src="{{ asset('images/mastodon.png') }}" alt="Mastodon">
        </a>.
    </p>

    {% if is_granted('ROLE_NEWS_CREATOR') %}
        <p class="float-right">
            <a href="{{ path('news_edit') }}">News bearbeiten</a>
        </p>
        <div class="clearfix"></div>
    {%  endif %}

    {% for article in news %}
        <div class="article card">
            <h3 class="card-header">{{ article.createdAt|format_date('long', locale='de') }} – {{ article.title }}</h3>
            <div class="card-body">{{ article.content|raw|nl2br }}</div>
        </div>
    {% endfor %}
{% endblock %}
