{% extends 'base.html.twig' %}

{% block title %}
    Fantasya-Neuigkeiten
{% endblock %}

{% block header %}
    Neuigkeiten
{% endblock %}

{% block content %}
    <p>
        Im März 2021 ist mit <strong>Lemuria</strong> ein neues Spiel gestartet. Lemuria ist eine Weiterentwicklung von
        Fantasya mit dem Ziel, Mikromanagement zu reduzieren und schneller und flexibler neue Spielideen ausprobieren zu
        können.
    </p>

    <p>Spielbefehle bitte an folgende E-Mail-Adressen senden:</p>

    <ul>
        <li>
            <strong>lemuria(at)fantasya-pbem.de</strong>
        </li>
    </ul>

    <p>
        Besucht regelmäßig unser Forum, die <a href="//forum.fantasya-pbem.de">Taverne</a>, oder folgt uns auf
        <a class="inline image" href="{{ mastodon_url }}" target="fantasya_mastodon">
            <img src="{{ asset('images/mastodon.png') }}" alt="Mastodon">
        </a>.
    </p>

    {% if is_granted('ROLE_NEWS_CREATOR') %}
        <p class="float-right">
            <a href="{{ path('news_edit') }}">News bearbeiten</a>
        </p>
        <div class="clearfix"></div>
    {%  endif %}

    {% for article in news %}
        <div class="article card">
            <h3 class="card-header">{{ article.createdAt|format_date('long', locale='de') }} – {{ article.title }}</h3>
            <div class="card-body">{{ article.content|raw|nl2br }}</div>
        </div>
    {% endfor %}
{% endblock %}
