<!doctype html>
<html lang="{{ app.request.locale }}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Fantasya PBEM Fantasy Rollenspiel">
    <meta name="description" content="Fantasya ist eine Welt voll mit Elfen, Zwergen und anderen Lebewesen. Die Unterwelt ist überrannt worden von Drachen und Zombies, die darauf warten durch Höhlen zur Oberwelt zu gelangen. Fantasya ist ein kostenloses Runden-Strategiespiel, bei dem Du Deine eigene Zivilisation gründen und Dich mit anderen Spielern messen kannst.">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
<div class="container-fluid logo">
    <div class="row">
        <div class="col-12 text-center">
            <img class="img-fluid" src="{{ asset('images/header.jpg') }}">
        </div>
    </div>
</div>

<div class="container">
    <nav class="navbar navbar-expand-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-auto">
                    <a href="{{ path('index') }}">Fantasya</a>
                </li>
                <li class="nav-item mx-auto">
                    <a href="//wiki.fantasya-pbem.de">Bibliothek</a>
                </li>
                <li class="nav-item mx-auto">
                    <a href="//forum.fantasya-pbem.de">Taverne</a>
                </li>
                <li class="nav-item mx-auto">
                    <a href="http://webchat.freenode.net/?channels=%23fantasya&uio=OT10cnVlJjExPTQx30" target="fantasya_chat">Chat</a>
                </li>
                <li class="nav-item mx-auto">
                    <a href="https://github.com/fantasya-pbem/host" target="fantasya_entwicklung">Entwicklung</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div id="wrapper">
    <div id="myth">
        <span>Myth::getLast()</span>
    </div>

    <div id="men">
        <ul>
            <li><a href="{{ path('index') }}">Fantasya</a></li>
            <li><a href="//wiki.fantasya-pbem.de">Bibliothek</a></li>
            <li><a href="//forum.fantasya-pbem.de">Taverne</a></li>
            <li><a href="http://webchat.freenode.net/?channels=%23fantasya&uio=OT10cnVlJjExPTQx30" target="fantasya_chat">Chat</a></li>
            <li class="last"><a href="https://github.com/fantasya-pbem/host" target="fantasya_entwicklung">Entwicklung</a></li>
        </ul>
    </div>

    <div id="page">
        <div id="sidebar">
            <ul>
                <li>
                    <h2>Fantasya</h2>

                    <ul>
                        <li><a href="{{ path('news') }}">Neuigkeiten</a></li>
                        <li><a href="{{ path('about-fantasya') }}">Über Fantasya</a></li>
                        <li><a href="{{ path('myth') }}">Gerüchte</a></li>
                        <li><a href="{{ path('donate') }}">Spenden</a></li>
                        <li><a href="{{ path('contact') }}">Kontakt</a></li>
                        <li><a href="{{ path('privacy') }}">Datenschutz</a></li>
                    </ul>
                </li>
                <li>
                    <h2>Anmeldung</h2>

                    {% if app.user %}
                        {{ include('includes/menu.html.twig') }}
                    {% else %}
                        {{ include('forms/login.html.twig') }}

                        <ul>
                            <li><a href="{{ path('user_register') }}">Neu registrieren</a></li>
                            <li><a href="{{ path('user_reset') }}">Passwort vergessen</a></li>
                            @if (false)
                            <li><a href="/secure">Login mit Zertifikat</a></li>
                            @endif
                        </ul>
                    {% endif %}
                </li>
                <li>
                    <h2>Die Welten</h2>

                    <ul>
                        @foreach (Game::all() as $game)
                        <li><a href=""><!--/world/$game->id-->$game->name</a></li>
                        @endforeach
                    </ul>
                </li>
                <li>
                    <h2>Links</h2>

                    <ul>
                        <li><a href="http://www.metadrei.org/toolbelt/forlage.html">Forlage</a></li>
                        <li><a href="http://sourceforge.net/projects/magellan-client">Magellan-Client</a></li>
                        <li><a href="http://fanalytics.dynamic-storage.com/">Fanalytics³-Client</a></li>
                        <li><a href="http://www.gulrak.de">Vorlage-Tool</a></li>
                        <li><a href="http://www.eressea.de">Eressea</a></li>
                        <li><a href="http://www.german-atlantis.de">German Atlantis</a></li>
                        <li><a href="http://www.pbem-spiele.de">PbEM-Spiele.de</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="content">
            <div class="post">
                <h2 class="title">{% block header %}{% endblock %}</h2>

                <div class="entry">{% block content %}{% endblock %}</div>
            </div>
        </div>
    </div>
    <div style="clear: both;">&nbsp;</div>
</div>

<div style="clear: both;">&nbsp</div>

<div id="footer">
    <p>&copy; {{ 'now'|date('Y') }} fantasya.pbem. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>, mogel &amp; Thalian.</p>
</div>
<footer>
    <script src="{{ asset('js/jquery.slim.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</footer>
</body>
</html>