<!DOCTYPE html>
<html lang="{{ app.request.locale }}" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="audience" content="all">
        <meta name="color-scheme" content="normal">
        <meta name="creator" content="Fantasya">
{% if block('description') is defined %}
        <meta name="description" content="{{ block('description')|trim|replace({'\n': '', '    ': ' '}) }}">
{% endif %}
        <meta name="generator" content="Symfony 6.2">
        <meta name="keywords" content="Atlantis, Eressea, Fantasy, Fantasya, game, GermanAtlantis, Lemuria, pbem, playByEmail, pbm, Rollenspiel, Spiel">
        <meta name="origin" content="https://www.fantasya-pbem.de">
        <meta name="referrer" content="origin">
{% if block('robots') is defined %}
        <meta name="robots" content="{{ block('robots') }}">
{% else %}
        <meta name="robots" content="index, follow">
{% endif %}
        <meta name="theme-color" content="#90602a">
        <meta name="version" content="2.15.0">
        <meta name="viewport" content="width=400, initial-scale=1.0">
        <title>{{ block('title')|trim }}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}?v=5.2.3">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}?v=2.15.0">
        <script src="{{ asset('js/bootstrap.min.js') }}?v=5.2.3" async></script>
        <script src="{{ asset('js/script.js') }}?v=2.15.0" async></script>
    </head>
    <body>
        <header>
            <div class="container-fluid logo">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="img-fluid" src="{{ asset('images/header.jpg') }}" alt="Darstellung der Inselwelt von Fantasya">
                    </div>
                </div>
            </div>

            {{ include('includes/navbar.html.twig') }}

            <div class="container-fluid myth">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <span>„{{ myth_service.latest }}“</span>
                    </div>
                </div>
            </div>
        </header>

        <section class="privacy-attention">
            {% block attention %}
                {% if not privacy_service.acceptedDsgvo %}
                    <div class="container">
                        <div class="row">
                            <div class="col-10 col-md-12 offset-1 offset-md-0">
                                <h2 class="text-center">
                                    <a href="{{ path('privacy') }}" rel="nofollow">Bitte beachte unseren Datenschutzhinweis und erkläre Deine Zustimmung.</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </section>

        <section class="main">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-3 offset-xl-1">
                        <div class="card">
                            <h1 class="card-header">Fantasya</h1>
                            <nav class="card-body">
                                {{ include('includes/fantasya.html.twig') }}
                            </nav>
                        </div>

                        <div class="card d-md-none">
                            {{ include('includes/worlds.html.twig') }}
                        </div>


                        <div class="card d-none d-md-block">
                            <h1 class="card-header">Anmeldung</h1>
                            <div class="card-body">
                                {% if is_granted('ROLE_USER') %}
                                    {{ include('includes/menu.html.twig') }}
                                {% else %}
                                    {{ include('forms/login.html.twig', {suffix: ''}) }}
                                    {{ include('includes/login.html.twig') }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="card d-none d-md-block">
                            {{ include('includes/worlds.html.twig') }}
                        </div>

                        <div class="card d-none d-md-block">
                            <h1 class="card-header">Links</h1>
                            <nav class="card-body">
                                {{ include('includes/links.html.twig') }}
                            </nav>
                        </div>
                    </div>

                    <div class="col-6 d-md-none">
                        <div class="card">
                            <h1 class="card-header">Anmeldung</h1>
                            <div class="card-body">
                                {% if is_granted('ROLE_USER') %}
                                    {{ include('includes/menu.html.twig') }}
                                {% else %}
                                    {{ include('forms/login.html.twig', {suffix: '-sm'}) }}
                                    {{ include('includes/login.html.twig') }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-8 col-lg-9 col-xl-7">
                        <main>
                            <div class="card">
                                <h1 class="card-header">{{ block('header') }}</h1>

                                <div class="card-body">{{ block('content') }}</div>
                            </div>
                        </main>
                    </div>

                    <div class="col-6 d-md-none">
                        <div class="card">
                            <h1 class="card-header">Links</h1>
                            <nav class="card-body">
                                {{ include('includes/links.html.twig') }}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <span>&copy; {{ 'now'|date('Y') }} fantasya.pbem. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>, mogel &amp; Thalian.</span>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>