{% extends 'base.html.twig' %}

{% block title %}
    Fantasya-Befehle kontrollieren
{% endblock %}

{% block header %}
    Befehle kontrollieren
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        {% for key, party in parties %}
            <li class="nav-item">
                <a class="nav-link{{ key == id ? ' active' : '' }} px-3 py-2" aria-current="page" href="{{ key == id ? 'javascript:' : path('order', {'id': key}) }}">{{ party.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <nav aria-label="Rundenauswahl">
        <ul class="pagination pagination-sm justify-content-end mt-2">
            <li class="page-item{{ round <= 0 ? ' disabled' : '' }}">
                <a class="page-link px-3" href="{{ path('order', {'id': id, 'turn': turn - 1}) }}" aria-label="Vor">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for key, t in turns %}
                {% if t == turn %}
                    <li class="page-item active{{ t == round ? ' current-round' : '' }}">
                        <span class="page-link" href="{{ path('order', {'id': id, 'turn': t}) }}">{{ key }}</span>
                    </li>
                {% else %}
                    <li class="page-item{{ t == round ? ' current-round' : '' }}">
                        <a class="page-link" href="{{ path('order', {'id': id, 'turn': t}) }}">{{ key }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
                <a class="page-link px-3" href="{{ path('order', {'id': id, 'turn': turn + 1}) }}" aria-label="Zurück">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    {% if order_service.available %}
        {% if hasSimulation %}
            <h2>
                Simulation
                <button class="btn dropdown-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#simulation" aria-expanded="true" aria-controls="simulation"></button>
            </h2>
            <div id="simulation" class="collapse" data-party="{{ id }}">
                <p id="simulation-mode-all" class="visually-hidden">
                    <a href="javascript:">alles anzeigen</a>
                </p>
                <p id="simulation-mode-problems" class="visually-hidden">
                    <a href="javascript:">nur Probleme anzeigen</a>
                </p>
                <pre class="visually-hidden"></pre>
                <div class="spinner-border m-5" role="status">
                    <span class="visually-hidden-focusable">Simulation wird geladen...</span>
                </div>
            </div>
        {% endif %}

        <h2 class="mt-4">
            Befehle
            <button class="btn dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#orders" aria-expanded="true" aria-controls="orders"></button>
        </h2>
        <pre class="mt-3"><strong>{{ order_service.check }}</strong></pre>
        <div id="orders" class="collapse show">
            <pre>{{ order_service.orders }}</pre>
        </div>
    {% endif %}
{% endblock %}
